#### **Exercise 1:**

Last week, we started looking at the Titanic data.  Load that data again. For features that you think are of minimal importance and / or have too many NAs to make imputation feasible, drop those features.  For those that seem important, use a `SimpleImputer` to impute the data.

In [9]:
import pandas as pd

tdf=pd.read_csv("3-week3/data/titanic.csv")
print(tdf)


print(tdf.isnull().sum())
#this shows me that cabin and embarked have a lot of nulls- i'll drop.
#impute age and fare

tdf = tdf.drop('embarked', axis=1)
tdf = tdf.drop('cabin', axis=1)
tdf['age'] = tdf['age'].fillna(tdf['age'].mean())
tdf['fare'] = tdf['fare'].fillna(tdf['fare'].median())

      pclass                                             name     sex  \
0          1                    Allen, Miss. Elisabeth Walton  female
1          1                   Allison, Master. Hudson Trevor    male
2          1                     Allison, Miss. Helen Loraine  female
3          1             Allison, Mr. Hudson Joshua Creighton    male
4          1  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
...      ...                                              ...     ...
1304       3                             Zabour, Miss. Hileni  female
1305       3                            Zabour, Miss. Thamine  female
1306       3                        Zakarian, Mr. Mapriededer    male
1307       3                              Zakarian, Mr. Ortin    male
1308       3                               Zimmerman, Mr. Leo    male

          age  sibsp  parch  ticket      fare    cabin embarked  survived
0     29.0000      0      0   24160  211.3375       B5        S         1
1      0.9167      1      2  113781  151.5500  C22 C26        S         1
2      2.0000      1      2  113781  151.5500  C22 C26        S         0
3     30.0000      1      2  113781  151.5500  C22 C26        S         0
4     25.0000      1      2  113781  151.5500  C22 C26        S         0
...       ...    ...    ...     ...       ...      ...      ...       ...
1304  14.5000      1      0    2665   14.4542      NaN        C         0
1305      NaN      1      0    2665   14.4542      NaN        C         0
1306  26.5000      0      0    2656    7.2250      NaN        C         0
1307  27.0000      0      0    2670    7.2250      NaN        C         0
1308  29.0000      0      0  315082    7.8750      NaN        S         0

[1309 rows x 11 columns]
pclass         0
name           0
sex            0
age          263
sibsp          0
parch          0
ticket         0
fare           1
cabin       1014
embarked       2
survived       0
dtype: int64

In [10]:
print(tdf.isnull().sum()) #all are filled

pclass      0
name        0
sex         0
age         0
sibsp       0
parch       0
ticket      0
fare        0
survived    0
dtype: int64

#### **Exercise 2**

Sklearn does not handle strings.  Use an encoder to transform any string columns into numbers. If there are any categorical columns where label encoding won't work, use a one-hot encoder.

In [12]:
#use an ordinal encoder when the order of the columns matter. onehotencoder for other instances (classes)
data_clean=tdf(["sex", "age", "sibsp", "parch","survived"])
ohe= OneHotEncoder (drop="first", sparse_output=False)
X=ohe.fit_transform(data[["embarked", "sex"]])

TypeError: 'DataFrame' object is not callable

In [ ]:
data[ohe.get_feature_names_out()]=x
data

In [ ]:
data_clean=data.clean.drop(["sex","embarked"],axis=1)
data_clean

#### **Exercise 3**

Using 5-fold cross-validation, examine the performance of a LogisticRegression classifier.

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import numpy as np

lr=LogisticRegression()
X=data_clean.drop("survived",axis=1)
y=data_clean['survived']

result=cross_val_score(lr,X,y,cv=5)

#### **Exercise 4**

Replace the logistic regression classifier with a decision tree classifier.  Which works better?  Why do you think that is?

#### **Exercise 5:** 

See if you can get the decision tree classifier to perform better by adjusting your imputation procedure to use a KNNImputer.

#### **Exercise 6:**

Try using a `GridSearchCV` to optimize the DecisionTree algorithm.  What is the best performance you can achieve?